@tailwind components;
@layer components {
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: var(--font-primary) format('woff2');
  }
  
  html,body {
    @apply font-primary
  }

  h1, .h1 {
    @apply text-5xl font-extrabold font-primary
  }
  h2, .h2 {
    @apply text-4xl font-bold font-primary
  }
  h3, .h3 {
    @apply text-3xl font-bold font-primary
  }
  h4, .h4 {
    @apply text-2xl font-bold font-primary
  }
  h5, .h5 {
    @apply text-xl font-bold font-primary
  }
  h6, .h6 {
    @apply text-lg font-bold font-primary
  }
}